@import url("//hello.myfonts.net/count/3551ff");
  
@font-face {
	font-family: 'FreightDispProBook-Regular';
	src: url('3551FF_0_0.eot');
	src: url('3551FF_0_0.eot?#iefix') format('embedded-opentype'),
			 url('3551FF_0_0.woff2') format('woff2'),
			 url('3551FF_0_0.woff') format('woff'),
			 url('3551FF_0_0.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  background-color: #ffffff;
  color: #2d2d2b;
	font-family: 'FreightDispProBook-Regular', serif;
	font-size: 62.5%;
	font-weight: normal;
	font-style: normal;
	-moz-osx-font-smoothing: grayscale; 
	 -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
}

body {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

hr {
  margin: 5rem 0;
  border-top: .1rem solid #000;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0;
}

h1, h2, h3, 
h4, h5, h6,
p, a, span {
	font-family: 'FreightDispProBook-Regular', serif;
	font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
} 

h1 {
  font-size: 5rem;
  line-height: 5rem;
  padding: 1.25rem 0rem;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  padding: 7.5rem 0rem 5rem;
}

h3 {
  font-size: 3rem;
  line-height: 3rem;
}

p {
  position: relative;
  font-size: 1.8rem;
  padding: 1.25rem 0rem;
  z-index: 10;
}

span {
  font-size: 1.4rem;
}

.footnote {
  font-size: 1.5rem;
  font-style: italic;
}

.center {
  text-align: center;
  margin: auto auto;
}

@media (min-width: 576px) {
  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
    line-height: 7rem;
  }

  h2 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .footnote {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 9rem;
    line-height: 9rem;
  }

  h2 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 11rem;
    line-height: 11rem;
  }

  h2 {
    font-size: 7.5rem;
    line-height: 7.5rem;
  }

  p {
    font-size: 2.2rem;
  }

  .footnote {
    font-size: 1.8rem;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 13rem;
    line-height: 13rem;
  }

  h2 {
    font-size: 8.5rem;
    line-height: 8.5rem;
  }

  p {
    font-size: 2.4rem;
    padding: 1.5rem 0rem;
  }
}

/* 
  header
*/
.brand {
  position: fixed;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  top: .25rem;
  left: 50%;
  transform: translateX(-50%);
  fill: #ffffff;
  transition: all .15s linear;
}

@media (min-width: 768px) {
  .brand {
    height: 6rem;
    width: 6rem;
  }
}

.nav a span {
  font-size: 1.4rem;
  line-height: 5.5rem;
}

.left-nav {
  position: fixed;
  z-index: 99;
  height: 5.5rem;
  width: 50%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  text-align: center;
}

.left-nav span {
  padding-right: 1.5rem;
}

.right-nav {
  position: fixed;
  z-index: 99;
  height: 5.5rem;
  width: 50%;
  top: 0;
  left: 50%;
  background-color: #ffffff;
  text-align: center;
}

.right-nav span {
  padding-left: 1.5rem;
}

@media (min-width: 768px) {
  .left-nav, .right-nav {
    height: 6.5rem;
  }
  .nav a span {
    font-size: 1.6rem;
    line-height: 6.5rem;
  }
}

@media (min-width: 1200px) {
  .nav a span {
    font-size: 2rem;
    padding-right: 2.5rem;
  }
}


/*
  feature sections
*/
.feature {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
}

#intro {
  background: url(../images/index-feature.jpg) no-repeat center center; 
  background-position: absolute;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#venue {
  margin-top: 15rem;
  background: url(../images/venue-feature.jpg) no-repeat center center; 
  background-position: absolute;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#addtional-info {
  margin-top: 15rem;
  background: url(../images/registry-feature.jpg) no-repeat center center; 
  background-position: absolute;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#accommodations {
  margin-top: 15rem;
  background: url(../images/accommodations-feature.jpg) no-repeat center center; 
  background-position: absolute;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.intro-centered {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scroll-indicator {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 2rem;
}

.scroll-indicator__line {
  position: absolute;
  height: 35px;
  width: 1px;
  top: 0;
  right: 0;
  left: 0;
  bottom: -50px;
  margin: auto;
  background-color: #ffffff;
}

.scroll-indicator a {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .feature {
    height: calc(100vh - 25px);
  }
}

/*
  the story
*/
.the-story {
  padding-top: 15rem;
}

.section-title {
  padding-top: 10rem;
}

.right {
  margin-top: 10rem;
}

.about-icon {
  position: absolute;
  width: 25rem;
  opacity: .4;
}

#case {
  margin-top: 20rem;
  margin-left: 12.5rem;
}

#pass {
  margin-top: 45rem;
  margin-left: 2.5rem;
}

@media (min-width: 768px) {
  .about-icon {
    opacity: .8;
    z-index: -1;
  }

  #case {
    margin-top: 20rem;
    margin-left: 25.5rem;
  }
}

@media (min-width: 1200px) {
  #case {
    margin-top: 25rem;
    margin-left: 42rem;
  }

  #pass {
    margin-top: 60rem;
    margin-left: 10rem;
  }
}

/* case by lastspark from the Noun Project */
/* Passport by lastspark from the Noun Project */
/* porthole by lastspark from the Noun Project */

/*----------------------------------
  the venue and information
----------------------------------*/
.the-venue {
  padding-top: 10rem;
}

.date {
  height: 35.5rem;
  max-width: 33rem;
  margin: .2rem auto;
  padding: 1.5rem;
  background-color: #f1e4d8;
  border: .1rem solid #2d2d2b;
  text-align: center;
}

.date:before {
  height: 36.1rem;
  max-width: 33.6rem;
  margin: 0 auto;
  border: .3rem solid #f1e4d8;
  content: "";
  display: block;
  position: absolute;
  top: -.1rem;
  left: 1.4rem;
  right: 1.4rem;
  bottom: .4rem;
  pointer-events: none;
}

@media (min-width: 576px) {
  .date {
    height: 35.5rem;
    max-width: 35rem;
  }

  .date:before {
    height: 36.1rem;
    max-width: 35.6rem;
  }
}

@media (min-width: 768px) {
  .date {
    height: 35.5rem;
    max-width: 25rem;
  }

  .date:before {
    height: 36.1rem;
    max-width: 25.6rem;
  }
}

@media (min-width: 992px) {
  .date {
    height: 37.5rem;
    max-width: 40rem;
  }

  .date:before {
    height: 38.1rem;
    max-width: 40.6rem;
  }
}

@media (min-width: 1200px) {
  .date {
    height: 38.5rem;
    max-width: 47rem;
  }

  .date:before {
    height: 39.1rem;
    max-width: 47.6rem;
  }
}

@media (min-width: 1600px) {
  .date {
    height: 41.5rem;
    max-width: 47rem;
  }

  .date:before {
    height: 42.1rem;
    max-width: 47.6rem;
  }
}

#map {
  padding-top: 5rem;
}

address {
  padding-top: 5rem;
  font-style: normal;
  text-align: center;
}

address img {
  padding-bottom: 1.5rem;
}

/*----------------------------------
  additional info
----------------------------------*/
.info {
  padding: 5rem 0;
}

.reg {
  height: 32.5rem;
  max-width: 33rem;
  margin: .2rem auto;
  padding: 1.5rem;
  background-color: #f1e4d8;
  border: .1rem solid #2d2d2b;
  text-align: center;
}

.reg:before {
  height: 33.1rem;
  max-width: 33.6rem;
  margin: 0 auto;
  border: .3rem solid #f1e4d8;
  content: "";
  display: block;
  position: absolute;
  top: -.1rem;
  left: 1.4rem;
  right: 1.4rem;
  bottom: .4rem;
  pointer-events: none;
}

@media (min-width: 576px) {
  .reg {
    height: 31.5rem;
  }

  .reg:before {
    height: 32.1rem;
  }
}

@media (min-width: 768px) {
  .reg {
    height: 31.5rem;
  }

  .reg:before {
    height: 32.1rem;
  }
}

@media (min-width: 992px) {
  .reg {
    height: 34.5rem;
  }

  .reg:before {
    height: 35.1rem;
  }
}

@media (min-width: 1200px) {
  .reg {
    height: 35.5rem;
  }

  .reg:before {
    height: 36.1rem;
  }
}

@media (min-width: 1600px) {
  .reg {
    height: 36.5rem;
  }

  .reg:before {
    height: 37.1rem;
  }
}

.reg img {
  max-width: 25rem;
}

.button {
  max-width: 15rem;
  margin: auto auto;
  padding: 1.5rem;
  border: .1rem solid #000000;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all .15s linear;
}

.button span {
  font-size: 1.8rem;
}


/*----------------------------------
  photo gallery
----------------------------------*/
.gallery {
  padding: 10rem 0;
}
.overflowContainer {
  overflow-x: scroll;
  margin-bottom: -30px; /* hide scrollbar */
  padding-bottom: 30px; /* prevent anything else from getting cut off */
}
.clipScrollBar {
  overflow-y: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

/* Image sizing */
.gallery img {
  height: 30rem;
  margin: 0 1.2rem 0;
}

@media (min-width: 768px) {
  .gallery img {
    height: 50rem;
  }
}

.gallery img:first-child {
  margin-left: 0;
}

.gallery-center {
  width: 100%;
  max-width: 1430px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.arrow {
  position: absolute;
  z-index: 1;
  width: 10rem;
  right: 0;
  top: 5rem;
}


/*----------------------------------
  footer
----------------------------------*/
footer {
  padding: 5rem 0;
  border-top: 1px solid #000;
}

.footer-logo {
  height: 6rem;
  width: 6rem;
  top: 0;
  fill: #ffffff;
  transition: all .15s linear;
}

footer span {
  display: block;
  font-size: 1.8rem;
}

footer span:nth-of-type(1) {
  margin-top: 1.5rem;
}

footer span:nth-of-type(2) {
  margin-bottom: 2.5rem;
}






